/* BIO SECTION */
.bio {
  padding: 8rem 4rem;
}
.bio__container {
  margin: 0 auto;
  width: 1000px;
  /* height: 400px; */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio__content--image {
  flex: 0 0 30%;
}
.bio__images {
  width: 300px;
}
.bio__images img {
  width: 100%;
  border: 5px dashed #ffc000;
}
.bio__content {
  flex: 0 0 55%;
  padding: 3rem 1.5rem;
  margin-left: 5rem;
}
.bio__content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #ffc000;
}
.bio__content p {
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 400;
}
.btn__container {
  text-align: end;
  margin-top: 1rem;
}
.btn__container a {
  font-size: 1.6rem;
  border: 1px solid #ffc000;
  background: none;
  color: #ffc000;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s;
}
.btn__container a:hover {
  color: white;
  background-color: #ffc000;
}

/* END BIO SECTION*/

/* art SECTION */
.art {
  padding: 8rem 4rem;
}
.art__container {
  margin: 0 auto;
}
.art__container h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffc000;
}
.art__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.art__list--item {
  flex: 0 0 30%;
  margin-bottom: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  position: relative;
}
.art__image1 {
  width: 100%;
  height: 400px;
  background-image: url("../images/Bedroom in Arles.jpg");
  background-size: cover;
  transition: all 0.2s;
}
.art__image2 {
  width: 100%;
  height: 400px;
  background-image: url("../images/The Starry Night.jpg");
  background-size: cover;
  transition: all 0.2s;
}
.art__image3 {
  width: 100%;
  height: 400px;
  background-image: url("../images/Van Gogh self-portrait.jpg");
  background-size: cover;
  transition: all 0.2s;
}
.art__image img {
  width: 100%;
}
.art__list--item:hover h4 {
  top: 50%;
  opacity: 1;
}
.art__list--item:hover .art__image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Van Gogh self-portrait.jpg");
}
.art__list--item:hover .art__image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/The Starry Night.jpg");
}
.art__list--item:hover .art__image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Bedroom in Arles.jpg");
}
.art__list--item h4 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s;
}

.btn__container--art {
  text-align: center;
  margin-top: 3rem;
}
.btn__container--art a {
  font-size: 1.6rem;
  border-bottom: 1px solid #ffc000;
  color: #ffc000;
  padding: 0.5rem 0;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
}

/* END ART */

/* SECTION Quotes */

.quotes {
  padding: 8rem 4rem;
}
q::before {
  content: open-quote;
  margin-right: 0.1em;
}
q:before,
q::after {
  color: #fc0;
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
q:last-child:after {
  content: close-quote;
}
.quotes h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffc000;
}
.quotes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quotes__item {
  flex: 0 0 48%;
  padding: 3rem 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.quotes__item {
  margin-bottom: 3rem;
  text-align: justify;
}

.quotes__item q {
  font-size: 1.8rem;
  text-align: justify;
  font-weight: bold;
}

/* END SECTION*/
