*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Brush Script MT", Cursive;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

@media only screen and (max-width: 800px) {
  .header__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .bio__container {
    margin: 0 auto;
    width: 600px;
    /* height: 400px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bio__content {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 800px) {
  .bio__container {
    margin: 0 auto;
    width: 500px;
    /* height: 400px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .bio__content {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .bio {
    padding: 8rem 2rem;
  }
  .bio__container {
    margin: 0 auto;
    width: 400px;
    /* height: 400px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .bio__content {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 900px) {
  .art__list--item {
    flex: 0 0 48%;
  }
}
@media only screen and (max-width: 900px) {
  .quotes__item {
    flex: 0 0 100%;
    padding: 3rem 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
}

.header__container {
  padding: 1rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.header__logo {
  width: 40vh;
}
.header__nav ul {
  display: flex;
  list-style: none;
}
.header__nav ul li {
  font-size: 1.8rem;
}
.header__nav ul li:not(:last-child) {
  margin-right: 5rem;
}
.header__nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: transform 0.5s;
  position: relative;
}

.header__nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  width: 0;
  height: 1px;
  background-color: #ffc000;
  left: 0;
  transition: width 0.5s;
}
.header__nav ul li a:hover {
  color: #ffc000;
}
.header__nav ul li a:hover::after {
  width: 100%;
}
.header__nav ul li .active {
  color: #ffc000;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: transform 0.5s;
  position: relative;
}
.header__nav ul li .active::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  height: 1px;
  background-color: #ffc000;
  left: 0;
  transition: width 0.5s;
}
.header__nav ul li .active:hover {
  color: #ffc000;
}
.header__nav ul li .active:hover::after {
  width: 100%;
}

/* footer*/

.footer {
  background-color: #ffc000;
  padding: 2rem 3rem;
  border-top: 4px white dashed;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.footer ul li {
  font-size: 1.6rem;
  list-style: none;
}
.footer ul li a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.footer ul li:not(:last-child) {
  margin-right: 2rem;
}

.footer p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer i {
  color: red;
}
