@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  /* font-family: 'Brush Script MT', cursive; */

  font-family: "ABeeZee", sans-serif;

  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

/* header */
.header__container {
  padding: 1rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.header__logo {
  width: 40vh;
}
.header__nav ul {
  display: flex;
  list-style: none;
}
.header__nav ul li {
  font-size: 1.8rem;
}
.header__nav ul li:not(:last-child) {
  margin-right: 5rem;
}
.header__nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: inline-block;
  transition: transform 0.5s;
  position: relative;
}

.header__nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  width: 0;
  height: 1px;
  background-color: #ffc000;
  left: 0;
  transition: width 0.5s;
}
.header__nav ul li a:hover {
  color: #ffc000;
}
.header__nav ul li a:hover::after {
  width: 100%;
}
.header__nav ul li .active {
  color: #ffc000;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: transform 0.5s;
  position: relative;
}
.header__nav ul li .active::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  height: 1px;
  background-color: #ffc000;
  left: 0;
  transition: width 0.5s;
}
.header__nav ul li .active:hover {
  color: #ffc000;
}
.header__nav ul li .active:hover::after {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .header__container {
    flex-direction: column;
  }
}

/* end header */

/* BIO SECTION */
.bio {
  padding: 8rem 4rem;
}
.bio__container {
  margin: 0 auto;
  width: 1000px;
  /* height: 400px; */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio__content--image {
  flex: 0 0 30%;
}
.bio__images {
  width: 300px;
}
.bio__images img {
  width: 100%;
  border: 6px dashed #ffc000;
}
.bio__content {
  flex: 0 0 55%;
  padding: 3rem 1.5rem;
  margin-left: 5rem;
}
.bio__content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #ffc000;
}
.bio__content p {
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 400;
}
.btn__container {
  text-align: end;
  margin-top: 1rem;
}
.btn__container a {
  font-size: 1.6rem;
  border: 1px solid #ffc000;
  background: none;
  color: #ffc000;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s;
}
.btn__container a:hover {
  color: white;
  background-color: #ffc000;
}
@media only screen and (max-width: 1200px) {
  .bio__container {
    margin: 0 auto;
    width: 600px;
    /* height: 400px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bio__content {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 800px) {
  .bio__container {
    margin: 0 auto;
    width: 500px;
    /* height: 400px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .bio__content {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .bio {
    padding: 8rem 2rem;
  }
  .bio__container {
    margin: 0 auto;
    width: 400px;
    /* height: 400px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .bio__content {
    margin-left: 0rem;
  }
}

/* END BIO SECTION*/

/* art SECTION */
.art {
  padding: 8rem 4rem;
}
.art__container {
  margin: 0 auto;
}
.art__container h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffc000;
}
.art__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.art__list--item {
  flex: 0 0 30%;
  margin-bottom: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  position: relative;
}
.art__image1 {
  width: 100%;
  height: 400px;
  background-image: url("../images/Bedroom in Arles.jpg");
  background-size: cover;
  transition: all 0.2s;
}
.art__image2 {
  width: 100%;
  height: 400px;
  background-image: url("../images/The Starry Night.jpg");
  background-size: cover;
  transition: all 0.2s;
}
.art__image3 {
  width: 100%;
  height: 400px;
  background-image: url("../images/Van Gogh self-portrait.jpg");
  background-size: cover;
  transition: all 0.2s;
}
.art__image img {
  width: 100%;
}
.art__list--item:hover h4 {
  top: 50%;
  opacity: 1;
}
.art__list--item:hover .art__image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Van Gogh self-portrait.jpg");
}
.art__list--item:hover .art__image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/The Starry Night.jpg");
}
.art__list--item:hover .art__image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Bedroom in Arles.jpg");
}
.art__list--item h4 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s;
}

.btn__container--art {
  text-align: right;
  margin-right: 10px;
  margin-top: 3rem;
}
.btn__container--art a {
  font-size: 1.6rem;
  border-bottom: 1px solid #ffc000;
  color: #ffbf00;
  padding: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
}
@media only screen and (max-width: 900px) {
  .art__list--item {
    flex: 0 0 48%;
  }
}

/* END ART */

/* SECTION Quotes */

.quotes {
  padding: 8rem 4rem;
}
q::before {
  content: open-quote;
  margin-right: 0.1em;
}
q:before,
q::after {
  color: #fc0;
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
q:last-child:after {
  content: close-quote;
}
.quotes h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffc000;
}

.quotes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
}

.quotes__item {
  flex: 0 0 48%;
  padding: 3rem 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.quotes__item {
  margin-bottom: 3rem;
}

.quotes__item q {
  font-size: 1.8rem;
  text-align: justify;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .quotes__item {
    flex: 0 0 100%;
    padding: 3rem 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
}

/* END SECTION*/

/* footer*/

.footer {
  background-color: #ffc000;
  padding: 2rem 3rem;
  border-top: 5px dashed white;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.footer ul li {
  font-size: 1.6rem;
  list-style: none;
}
.footer ul li a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.footer ul li:not(:last-child) {
  margin-right: 2rem;
}

.footer p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer i {
  color: red;
}

/* About page */

.aboutpage {
  padding: 8rem 15rem;
}
.aboutpage__container {
  display: flex;
  justify-content: center;
}
.aboutpage__container h3 {
  color: #ffc000;
}
.aboutpage__image {
  flex: 0 0 45%;
}
.aboutpage__image img {
  border: 6px dashed #ffc000;
  width: 60%;
}
.aboutpage__image table {
  /* margin: 0 auto; */
  font-size: 1.8rem;
}
.aboutpage__image table tr td:first-child {
  font-weight: bold;
}
.aboutpage__image table tr td {
  text-align: left;
  width: 66%;
}
table,
td {
  border: 2px solid #ffc000;
}

.aboutpage__content h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #ffc000;
}
.aboutpage__content p {
  font-size: 1.8rem;
}

@media only screen and (max-width: 800px) {
  .aboutpage {
    padding: 8rem 4rem;
  }
  .aboutpage__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutpage__image {
    flex: 0 0 45%;
    margin: 0 auto;
  }
  .aboutpage__image--image {
    text-align: center;
  }
  .aboutpage__image img {
    width: 80%;
    margin: 0 auto;
  }
  .aboutpage__image table {
    margin: 0 auto;
    font-size: 1.8rem;
  }
  .aboutpage__content h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 3rem;
  }
  .aboutpage__content p {
    font-size: 1.8rem;
    text-align: justify;
  }
}

/* Art Page */

/* art SECTION */
.artpage {
  padding: 8rem 4rem;
}
.artpage__container {
  margin: 0 auto;
}
.artpage__container h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffc000;
}
.artpage__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.artpage__list--item {
  flex: 0 0 24%;
  position: relative;
}
.artpage__image1 {
  width: 100%;
  height: 400px;
  background-image: url("../images/Bedroom in Arles.jpg");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image2 {
  width: 100%;
  height: 400px;
  background-image: url("../images/The Starry Night.jpg");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image3 {
  width: 100%;
  height: 400px;
  background-image: url("../images/Van Gogh self-portrait.jpg");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image4 {
  width: 100%;
  height: 400px;
  background-image: url("../images/téléchargement.jfif");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image5 {
  width: 100%;
  height: 400px;
  background-image: url("../images/téléchargement (1).jfif");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image6 {
  width: 100%;
  height: 400px;
  background-image: url("../images/téléchargement (2).jfif");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image7 {
  width: 100%;
  height: 400px;
  background-image: url("../images/téléchargement (3).jfif");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image8 {
  width: 100%;
  height: 400px;
  background-image: url("../images/téléchargement (4).jfif");
  background-size: cover;
  transition: all 0.2s;
  margin-bottom: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.artpage__image img {
  width: 100%;
}
.artpage__list--item:hover .artpage__content {
  top: 50%;
  opacity: 1;
}
.artpage__list--item:hover .artpage__image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Van Gogh self-portrait.jpg");
}
.artpage__list--item:hover .artpage__image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/The Starry Night.jpg");
}
.artpage__list--item:hover .artpage__image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Bedroom in Arles.jpg");
}
.artpage__list--item:hover .artpage__image5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/téléchargement (1).jfif");
}
.artpage__list--item:hover .artpage__image4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/téléchargement.jfif");
}
.artpage__list--item:hover .artpage__image6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/téléchargement (2).jfif");
}
.artpage__list--item:hover .artpage__image7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/téléchargement (3).jfif");
}
.artpage__list--item:hover .artpage__image8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/téléchargement (4).jfif");
}
.artpage__list--item .artpage__content {
  position: absolute;
  top: 80%;
  /* left: 50%; */
  transform: translateY(-50%);
  padding: 0 2rem;
  color: white;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s;
}
.artpage__list--item .artpage__content h4 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.artpage__list--item .artpage__content a {
  text-decoration: none;
  color: white;
}
.artpage__list--item .artpage__content p {
  font-size: 1.4rem;
  text-align: justify;
}

@media only screen and (max-width: 1000px) {
  .artpage__list--item {
    flex: 0 0 45%;
    position: relative;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 700px) {
  .artpage__list--item {
    flex: 0 0 100%;
    position: relative;
  }
}

.quotespage {
  padding: 8rem 4rem;
}
.quotespage h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #ffc000;
}
.quotespage__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quotespage__item {
  flex: 0 0 48%;
  padding: 3rem 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.quotespage__item:hover {
  animation: scale 2s ease-out -2s alternate forwards;
}
.quotespage__item {
  margin-bottom: 3rem;
}

.quotespage__item q {
  font-size: 1.8rem;
  text-align: justify;
  font-weight: bold;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 800px) {
  .quotespage__item {
    flex: 0 0 100%;
    position: relative;
  }
}
